[Unit]
Description=Docker Cleanup Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/usr/bin/docker ps -aqf status=exited | /usr/bin/xargs /usr/bin/docker rm || exit 0"
ExecStart=/bin/bash -c "/usr/bin/docker images -q | /usr/bin/xargs /usr/bin/docker rmi || exit 0"

[X-Fleet]
Global=true
