[Unit]
Description=nsqd
After=docker.service
Requires=docker.service nsqd-elb@%i.service

[Service]
Restart=always
User=core
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker stop -t 5 %p-%i ; \
-/usr/bin/docker rm %p-%i ; \
/usr/bin/docker pull nsqio/nsq:v0.3.5
ExecStart=/usr/bin/docker run --name %p-%i -p 4150:4150 -p 4151:4151 nsqio/nsq:v0.3.5 /nsqd -broadcast-address=${COREOS_PRIVATE_IPV4} -lookupd-tcp-address=nsqlookupd-2.opsy.co:4160 -lookupd-tcp-address=nsqlookupd-1.opsy.co:4160 -verbose
ExecStop=/usr/bin/docker stop -t 5 %p-%i

[X-Fleet]
Conflicts=nsqd@*.service
