[Unit]
Description=nsqlookupd
After=docker.service
Requires=docker.service %p-elb@%i.service

[Service]
User=core
Restart=always
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker stop -t 5 %p-%i ; \
-/usr/bin/docker rm %p-%i ; \
/usr/bin/docker pull nsqio/nsq
ExecStart=/usr/bin/docker run --name %p-%i -p 4160:4160 -p 4161:4161 nsqio/nsq /nsqlookupd
ExecStop=/usr/bin/docker stop -t 5 %p-%i

[X-Fleet]
Conflicts=nsqlookupd@*.service
