[Unit]
Description=Docker Cleanup Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c "cs=`/usr/bin/docker ps -aqf status=exited`; if [ ! -z "$cs" ]; then echo $cs | /usr/bin/xargs docker rm else exit 0 fi"
ExecStart=/bin/bash -c "is=`/usr/bin/docker images -q`; if [ ! -z "$is" ]; then echo $is | /usr/bin/xargs docker rmi else exit 0 fi"

[X-Fleet]
Global=true
