[Unit]
Description=nsqd
After=docker.service
Requires=docker.service
Wants=nsqd-elb@%i.service nsqlookupd@%i.service

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i
ExecStartPre=/usr/bin/docker pull nsqio/nsq
ExecStart=/usr/bin/docker run --name %p-%i -p 4150:4150 -p 4151:4151 nsqio/nsq /nsqd -broadcast-address=${COREOS_PRIVATE_IPV4} -lookupd-tcp-address=${COREOS_PRIVATE_IPV4}:4160
ExecStop=/usr/bin/docker stop %p-%i

[X-Fleet]
Conflicts=nsqd@*.service
